# /etc/systemd/system/LicenseNUC.service
[Unit]
Description=ROS, CAN Init Daemon

[Service]
Type=simple
ExecStart=/home/aeye/Documents/aeye/sh/NUC/LicenseNUC_bridge.sh
#ExecStart=/home/aeye/Documents/aeye/sh/NUC/test.sh

[Install]
WantedBy=multi-user.target
