# /etc/systemd/system/LicenseNUC.service
[Unit]
Description=Ros Init Daemon

[Service]
Type=simple
ExecStart=/home/aeye/Documents/aeye/sh/NUC/LicenseNUC_bridge.sh

[Install]
WantedBy=multi-user.target